@*Basic login page*@

@model TangentSolutionsProject.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
<div class="container">
    <div class="loginCard">
        <h2>Tangent Solutions Demo</h2>
        <br />
        <h4>Login</h4>
        
            @Html.TextBoxFor(a => a.username, new { @class = "form-control", placeholder = "Username" }) 
           
            @Html.TextBoxFor(m => m.password, new { @class = "form-control", type = "Password", placeholder = "Password" })
            
            <button class="btn btn-lg btn-primary btn-block signInButton" type="submit">Sign in</button>

    </div>
</div>
}



